.editor {

  .leaf-package, .leaf-statechart, .leaf-state, .leaf-transition {
    color: #990000;
    font-weight: bold;
  }

  .ID {
    color: #cc33ff;
  	font-weight: bold;
  }

  .stateId {
    color: #6666ff;
  	font-weight: bold;
  }


}